
<p><%= @greeting %>,</p>
<p>your account just updated.</p>
<p> your account no is: <%= @account %></p>
<p>Current balance is: $<%= @balance %></p>
<p>Date of Birth: <%= @birthday %></p>
<br>
<p>Thanks</p>